<% layout('layouts/boilerplate') -%>

<div class="row">
  <h1 class="text-center">キャンプ場の編集</h1>
  <div class="offset-3 col-6">
    <form
      class="validated-form"
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="post"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">タイトル</label>
        <input
          class="form-control"
          type="text"
          id="title"
          value="<%= campground.title %>"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">OK!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">場所</label>
        <input
          class="form-control"
          type="text"
          id="location"
          value="<%= campground.location %>"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">OK!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">価格</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">￥</span>
          <input
            id="price"
            type="text"
            class="form-control"
            placeholder="0"
            aria-label="価格"
            value="<%= campground.price %>"
            aria-describedby="price-label"
            name="campground[price]"
            required
          />
          <div class="valid-feedback">OK!</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">説明</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">OK!</div>
      </div>

      <div class="mb-3">
        <label for="formFileMultiple" class="form-label" for="image"
          >画像の追加アップロード</label
        >
        <input
          class="form-control"
          id="image"
          name="image"
          type="file"
          multiple
        />
      </div>

      <div class="mb-3">
        <button class="btn btn-info">更新する</button>
      </div>
    </form>
    <a href="/campgrounds">一覧に戻る</a>
  </div>
</div>
