<% layout('layouts/boilerplate') -%>

<h1>キャンプ場一覧</h1>
<a class="mb-3 d-block" href="/campgrounds/new">新規登録</a>

<% for(let campground of campgrounds) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img
        class="img-fluid"
        src="<%= campground.image %>"
        alt="<%= campground.title  %>のイメージ画像"
        width="600"
        height="400"
        loading="lazy"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><%= campground.title %></h3>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= campground.location %></small>
        </p>
        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
          ><%= campground.title %>の詳細</a
        >
      </div>
    </div>
  </div>
</div>
<% } %>
